


/*                      COLORS
------------------------------------------------------------------------- */

$color-base: #EEEEDD;
$color-tooltip: #444433;
$color-beige: lighten( $color-tooltip, 40% );
$color-line: lighten( $color-tooltip, 50% );



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Francois One', 'Lucida Sans', Helvetica, sans-serif;
$font-serif: Georgia, 'Times New Roman', serif;


